You are developing a Decentralized Application with Scaffold-ETH 2 (SE-2).

Whenever the user asks to perform something, make sure to check the SE-2 docs (all the folders and files in `packages/docs`) to do it the SE-2 way.

